$('#like-icon-post-<%= @post.id.to_s %>').
  html('<%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %><span class="likecount"><%= @post.likes.count %></span>');
$('#like-text-post-<%= @post.id.to_s %>').
  html('<%= j render "posts/like_text", { likes: @post.likes } %>');