<%= render "partialnote/normalnav" %>
<div class="userIndexPage">
  <div class="container">
    <h1 class="text-center mt-3">ユーザー一覧</h1>
  
    <table>
    <tr><th>『退会者数：<%= @disusers.count %>』</th></tr>
    </table>

    <div class="mb-3"></div>
    <table class="table table-hover table-bordered mb-4">
      <thead class="thead-default">
        <tr class="tr-color">
          <th><%= User.human_attribute_name(:name) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th><%= User.human_attribute_name(:admin) %></th>
          <th><%= User.human_attribute_name(:created_at) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.admin? ? "あり" : "なし" %></td>
            <td><%= user.created_at %></td>
            <td><%= link_to "退会", user, class: "btn btn-danger", method: :delete, data: { confirm: "ユーザー「#{user.name}」を退会させます、よろしいですか？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table table-bordered table-warning" style="width: 450px; margin-left: 55px">
      <tr><td><strong>『ユーザー検索』</strong><input type=form id="form" placeholder="ユーザー名を入力してください" style="width: 250px"/></td></tr>
    </table>
    <table id="result" class="table table-hover table-bordered table-sm table-dark mb-3" style="width: 450px; margin-left: 55px" >
    </table> 
  </div>
</div>