<div class="notePage">
  <% if @note.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @note.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
          <% end %> 
        </ul>
      </div>
  <% end %>

  <%= form_with model: @note, local: true do |f| %>
    <div class="form-group space mt-2"> <%# spaceはオリジナルcss名%>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "タイトル" %>
    </div>
    <div class="form-group space mt-2">
      <%= f.label :memo1 %>
      <%= f.text_area :memo1, class: "form-control", placeholder: "内容を入力" %>
    </div>
    <div class="form-group space mt-2">
      <%= f.label :memo2 %>
      <%= f.text_area :memo2, class: "form-control", placeholder: "内容を入力" %>
    </div>
    <div class="text-center mt-3">
      <%= f.submit nil, class: "btn btn-info" %>
      <%= link_to "ホームへ", root_path, class: "btn btn-primary ml-3" %>
    </div>
  <% end %>
</div>